{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GARDEN/registerAcount</title>
    <link rel="shortcut icon" href="{% static 'Garden/images/5.png' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="{% static 'Garden/login.css' %}">
    <link rel="stylesheet" href="{% static 'Garden/login.js' %}">
</head>
<div class="login-page">
  <div class="form">
    <form method="post" class="login-form" action="{% url 'Garden:registerAcount' %}">
      {% csrf_token %}
      {{ form.text }}
      {{ form.password }}
      {{ form.Email }}
      {{ form.last_name }}
      <button>create</button>
      <p class="message">Already registered? <a href="{% url 'Garden:loginAcount' %}">Sign In</a></p>
    </form>
  </div>
</div>
</html>
